.text {
  text-align: left;
}

.nutrients-img {
  width: 800px;
  height: 300px;
}

.product-img {
  width: 400px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
}

.meal-product-list-img {
  width: 500px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
}

.adjust-mode-on {
  width: 600px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  object-fit: fill;
}
